<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wjdck.hakerton">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".detailAcivity"
            android:label="@string/title_activity_detail_acivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".loginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".discussActivity"
            android:label="@string/title_activity_discuss"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".discussDetailActivity"
            android:label="@string/title_activity_discuss_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addAgendaActivity"
            android:label="@string/title_activity_add_agenda"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>