<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wjdck.hakerton">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".splashActivity"
            android:label="splashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".detailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".loginActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".discussActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".discussDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addAgendaActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".addDiscussActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MyListActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".openPdfActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>